beautifulsoup4==4.10.0
bs4==0.0.1
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
cryptography==35.0.0
cssselect==1.1.0
cssutils==2.3.0
idna==3.3
importlib-metadata==4.8.1
jeepney==0.7.1
keyring==23.2.1
lxml==4.6.3
premailer==3.10.0
pycparser==2.20
requests==2.26.0
SecretStorage==3.3.1
soupsieve==2.3
urllib3==1.26.7
xmltodict==0.12.0
yagmail==0.14.260
zipp==3.6.0
